

main{
    display:flex;
    height: 50vh;
    justify-content: left;
    align-items: left;
    gap: 20px;
}
main button{
    width:25vw;
    height:20vh;
    border:none;
    outline:transparent;
    background-color: purple;
    color:white;
}
.fade{
    opacity:0.5;
}
.fade:hover{
    opacity:1;
}
.grow:hover
{
        -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.3);
}
.shrink:hover
 {
        -webkit-transform: scale(0.8);
        -ms-transform: scale(0.8);
        transform: scale(0.8);
 }
.rotate:hover
{
        -webkit-transform: rotateZ(-30deg);
        -ms-transform: rotateZ(-30deg);
        transform: rotateZ(-30deg);
}
.circle:hover
{
        border-radius:50%;
}

.border:hover
{
        box-shadow: inset 0 0 0 25px #53a7ea;
}
.container{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap:20px;
}
.card{
    border-radius: 20px;
    margin-left:10px;
    height:200px;
    background-color: purple;
    transition: .3s all ease;
}

.card:hover{
    background-color: aqua;
}

